{% extends "base.html" %}




{% block content %}
<div class="container">


    <div class="row">
      <div class="col">
        <center><h2>About Page!</h2></center>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <p>I'm an infratructure engineer looking to transition into a software development.</p>
    
            <p>I'm a techy nerd who enjoys pretty much all aspects of technology.</p>
            
            <p>From infrastructure technologies such as VMWare, Linux, Terraform, Ansible. To scripting in BASH, Python or Powershell.</p>
            
            </p>This site is to just pretty much gather any notes I make along the way!</p>
        </div>
      </div>
</div>






{% endblock %}